$primary-color: hsl(300, 43%, 22%);
$seconday-color: hsla(333, 63%, 62%, 0.055);

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #fff;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url("./images/bg-pattern-bottom-desktop.svg");
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.top-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.heading {
  grid-column: 1/3;
  @include center;
  flex-direction: column;

  h1 {
    color: $primary-color;
    font-weight: 700;
    font-size: 2rem;
  }
}

.rating-area {
  grid-column: 3/5;
  @include center;
  flex-direction: column;

  .rating {
    background-color: $seconday-color;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px;
    color: $primary-color;
    font-weight: 700;
    font-size: 0.75rem;
  }
}

.attribution {
  position: fixed;
  bottom: 0;
}
